CLIENT_PORT=
SERVER_PORT=
VITE_API_URL=

OVH_DB_HOST=
OVH_DB_USER=
OVH_DB_PASSWORD=
OVH_DB_NAME=
OVH_DB_PORT=

ATTACK_DB_HOST=
ATTACK_DB_USER=
ATTACK_DB_PASSWORD=
ATTACK_DB_NAME=
ATTACK_DB_PORT=

WLD_API_KEY=
JWT_SECRET= 
JWT_EXPIRATION=
JWT_LONG_EXPIRATION=
SALTROUNDS=

N8N_APP_PORT=
N8N_APP_HOST=
N8N_APP_PROTOCOL=
N8N_APP_NODE_ENV=
N8N_BASIC_AUTH_ACTIVE=
N8N_BASIC_AUTH_USER=
N8N_BASIC_AUTH_PASSWORD=

N8N_RUNNERS_TASK_BROKER_URI=
N8N_RUNNERS_AUTH_TOKEN=